{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
