.werror--alert{
    width: 50%;
    margin: 10% 25%;
    text-align: left;
    
}

.werror--alert--title{
    display:flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 0;
    text-align:left;
    margin:0;
}
.werror--alert--title.css-yslrua-MuiTypography-root-MuiAlertTitle-root{
    margin-top:-8px;
    margin-left:0px;
}
.werror--alert--logo{
    width: 30%;
    padding-left: 5px;
    color:white;

}
.werror--alert-content{
    padding-left:0;
    margin-left: 0;
}