* {
  font-family: 'Quicksand';
  box-sizing: border-box;
}
.cs-container {
  width: auto;
  overflow: hidden;
  position: relative;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
}

.cs-bg {
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.cs-content {
  position: relative;
  padding: 42px 84px;
}

.cs-basics {
  display: flex;
  align-items: center;
  gap: 54px;
  margin-bottom: 16px;
}
.cs-basics .temp {
  font-size: 144px;
}

.cs-basics .cs-info {
  display: grid;
  grid-template-areas:
    'weather icon'
    'feels feels';
  font-size: 36px;
  margin-left: auto;
}

.cs-info .weather {
  font-weight: bold;
  grid-area: weather;
  justify-self: left;
}

.cs-info .wi {
  grid-area: icon;
  justify-self: end;
  font-size: 52px;
}

.cs-info .feels-like {
  grid-area: feels;
}
.cs-more {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 18px;
}
.cs-more .cs-more-content span {
  display: block;
  text-align: center;
}
