.container {
  font-size: 36px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.23);
}

.time span {
  display: block;
}
.time .day {
  font-weight: bold;
}

.wi {
  font-size: 84px;
  align-self: end;
}
