.leaflet-container {
  contain: paint;
  width: 80%;
  height: 200px;
}

@media (max-width: 844px) {
  .leaflet-container {
    width: 100%;
  }
}
@media (max-width: 1444px) {
  .leaflet-container {
    width: 100%;
  }
}
