body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.Results {
  background-color: white;
  margin-top: 20px;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main-element {
  width: 60%;
  margin: 0 auto;
  border-radius: 8px;
}

@media (max-width: 1224px) {
  .main-element {
    width: 70%;
  }
}
@media (max-width: 844px) {
  .main-element {
    width: 85%;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
